{
  "json.schemaDownload.enable": true,
  "go.lintTool": "golangci-lint",
  "go.lintFlags": [
    "--fast"
  ],
  "gopls": {
    "formatting.gofumpt": true,
    "formatting.local": "github.com/ditrit"
  },
  "go.formatFlags": [
    "-s"
  ]
}